
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

p {
    line-height: 1.2rem;
    font-size: 0.8rem;
    font-weight: lighter;
}

h1 {
    padding: 0.5rem;
}


.hero {
    color: white;
    background: url('/img/art1.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: relative;
    background-attachment:fixed;
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    min-width: 50vw;
    min-height: 40vh;
    /* top: 20vh;
    left: 20vw;  */
    background:rgba(0,0,0,0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw;
    border-radius: 0.5rem;
}

.hero-text-neal {
    font-size: 1rem;
    font-weight: 300;
}

.hero-text-art {
    font-size: 5rem;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
}

.hero-text-oil {
    font-size: 1rem;
    font-weight: 300;
}

.art {
    display: flex;
    flex-direction: column; 
    align-items: center;
    line-height: 3rem;
}

.dark-background {
    color: white;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.light-background {    
    color: black;
    background: white;
}

section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0vw;
    padding: 0vw;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.card > img {
    border: 0.5rem solid white;
    outline: 1px solid black;
    /* margin-bottom: 0.5rem; */
}

.card-text-dark {
    border: 1px solid black;
    border-radius: 0 0 0.75rem 0.75rem;
    padding: 0.5rem;
    color: black;
    background-color: white;
    box-shadow: 1px 2px 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-text-light {
    border: 1px solid black;
    border-radius: 0 0 0.75rem 0.75rem;
    padding: 0.5rem;
    color: black;
    box-shadow: 2px 5px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 1rem;
}


p {
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.biography {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}

.bio-text {
    width: 90vw;
}

.painting {
    margin: 1vw;
}

img {
    width: 90vw;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head-img {
    border-radius: 2rem; 
    width: 60vw;
}



@media (min-width: 700px) {
    .head-img {
        width: 20vw;
    }

    .bio-text {
        width: 50vw;
    }

    .biography {
        flex-direction: row-reverse;
    }

    img {
        width: 40vw;
    }

    .hero-text-neal, .hero-text-oil {
        font-size: 2rem;
    }
    
    .hero-text-art {
        font-size: 10rem;
    }

    .art {
        line-height: 7.5rem;
    }
}