:root {
    --text-bg-color:  rgb(255, 255, 255);
    --main-text-bg-color:  rgb(255, 255, 255);
    --bright-bg-color: rgb(8, 97, 104);
    --dark-bg-color: black;
    --light-text-color: rgb(255, 255, 255);
}
* {
    margin: 0;
    padding: 0;
}
html {
/* border: solid 1px; */
    text-align: center;
    font-family: 'Oswald';
    font-size: 20px;
    color: white;
    background-size: 100vw;
    position: relative;
    line-height: 1.4;

/* background: url(./img/sketch3.jpg) fixed;    */
}
main {
    display: flex;
    flex-direction: column;
}

.inner-text {
    background: var(--text-bg-color);
    opacity: 90%;
    text-align: left;
    flex: 1 1 0px;
    color: black;
    line-height: 1.4;
    font-weight: lighter;
    padding: 1rem;
    font-size: 0.8rem;
}

.uppercase {
    text-transform: uppercase;
}

header {
    background-color: white;
    font-size: 1.15rem;
    color: white;
    line-height: 2.2rem;
    background: 
    linear-gradient(
      rgba(14, 13, 13, 0.6),
      rgba(8, 0, 0, 0.6)
    ),url(/img/sketch1.jpg) 0vh;
    text-shadow: 5px 3px 2px var(--bright-bg-color);
    padding: 20px 20px 20px 0px;
}

footer {
    background-color: var(--bright-bg-color);
    font-size: 1.5rem;
    opacity: 90%;
}
section {
    flex-wrap: 100%;
    font-size: 0.75rem;
} 
.strip {
    background-color: var(--bright-bg-color);
    font-size: 1.2rem;
    color: var(--main-text-bg-color);
    margin-top: 0;
    margin-bottom: 4px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--bright-bg-color);
    opacity: 98%;
}
img {
    width: 100vw;
    /* border-radius: 15px; */
} 
iframe {
    border-radius: 5px;
    margin: 2px;
    width: 300px;
    height: 300px;
}

li {
    display: inline-block;
    /* border: 2px solid; */
    border-radius: 30px;
    background-color: var(--bright-bg-color);
    padding: 5px;
    margin: 5px 5px 5px 0px;
    font-size: 0.50rem;
}

.li-buttons {
    padding: 10px;
}

.spacer {
    background-color: var(--dark-bg-color);
    height: 1.25vh;
}
.large-spacer {
    height: 50vh;
    background: url(./img/sketch1.jpg) no-repeat fixed 0vh;
    background-size: 100%;
}

ul {
    padding-inline-start: 0vw;
}

a {
    text-decoration: none;
    color: white;
}
.bio {
    display:flex;
    background-color: var(--main-text-bg-color);
    opacity: 95%;
    flex-flow: column wrap;
}

.hero {
    border-radius: 1px var(--dark-bg-color);
    padding-top: 1rem;
    padding-left: 1rem;
/* flex: 1 1 0px; */
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.intro-text {
    color: black;
    padding: 5%;
    font-size: 0.8rem;
    text-align: left;
    font-weight: lighter;
/* flex: 1 1 0px; */
}

.hero-img {
    width: 75vw;
}

@media (min-width: 390px) {
    .intro-text {
        font-size: 1rem;
    }

    .hero-img {
        width: 50vw;
    }

    img {
        width: 100vw;
    }
    li {
        font-size: 1rem;
    }
    header {
        font-size: 1.65rem;
        line-height: 3rem;
    }
    .strip {
        font-size: 1.5rem;
    }
}

@media (min-width: 800px) {
    .hero-img {
        width: 30vh;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }
    img {
        width: 40vw;
    }
    .bio {
        flex-flow: row;
    }
    header {
        font-size: 3rem;
        line-height: 6rem;
        padding: 30px 30px 30px 0px;
        flex-direction: row;
    }
}